# Build files
build/
dist/
__pycache__/
*.pyc
*.spec

# FFmpeg files
src/ffmpeg/
ffmpeg/
ffmpeg-master-latest-win64-gpl/

# Environment
venv/
.env

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.log